@tailwind components;
@tailwind utilities;
@tailwind base;

.max-600px {
  max-width:600px;
}
.font-fraunces {
  font-family: 'Fraunces', serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
.tracking-huge {
  letter-spacing: 0.25em;
}